---
name: Acceptance tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  acceptance_tests:
    name: Platform
    strategy:
      matrix:
        os: [windows-2016, windows-2019, ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-10.15]
    runs-on: ${{ matrix.os }}
    env:
      FACTER_ROOT: facter
      SHA: latest
      RELEASE_STREAM: puppet7

    steps:
      - name: Checkout current PR
        uses: actions/checkout@v2
        with:
          path: facter

      - name: Install Ruby 2.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - name: Fix common Linux and MacOs permissions
        if: runner.os != 'Windows'
        run: sudo chmod a-w /opt

      - name: Fix Linux permissions
        if: runner.os == 'Linux'
        run: |
          sudo chmod a-w /home/runner /usr/share &&
          sudo chmod -R a-w /usr/share/rust /home/runner/.config /home/linuxbrew

      - name: Install dhclient for Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt install dhcpcd5
          sudo dhclient

      #Ipv6 is missing on the GitHub OSX machine and we need it for the networking facts tests
      - name: Add ipv6 on OSX
        if: runner.os == 'macOS'
        run: |
          primary_interface=`route -n get default | awk '/interface: */{print $NF}'`
          sudo ifconfig $primary_interface inet6 add ::1/64

      - name: Run acceptance tests on Linux like platform
        if: runner.os != 'Windows'
        run: sudo -E "PATH=$PATH" ruby $FACTER_ROOT/.github/actions/presuite.rb ${{ matrix.os }}

      - name: Run acceptance tests on Windows like platform
        if: runner.os == 'Windows'
        run: ruby $Env:FACTER_ROOT/.github/actions/presuite.rb ${{ matrix.os }}
